---
import CartIcon from './icons/CartIcon.astro';

interface Props {
    count: number;
}

const { count } = Astro.props;
---

<div
    class='ml-4 flow-root lg:ml-6'
    id='cartStatus'
    hx-get='/cart/status'
    hx-trigger='cartupdate from:document'
>
    <a
        href='/cart'
        class='group -m-2 flex items-center p-2'
    >
        <CartIcon />
        <span
            class='ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800'
        >
            {count}
        </span>
        <span class='sr-only'>items in cart, view bag</span>
    </a>
</div>
