<a
    href='/'
    class='flex'
>
    <span class='sr-only'>Your Company</span>
    <img
        class='h-8 w-auto'
        src='https://tailwindui.com/img/logos/mark.svg?color=red&shade=600'
        alt=''
    />
</a>
